/* app/globals.css */
* { box-sizing: border-box; }
html, body { padding: 0; margin: 0; }
img, svg, video, canvas { display:block; max-width:100%; }
a { color: inherit; }
::selection { background: rgba(231,179,8,.25); }
